[submodule "Frontend-Mentor-Projects"]
	path = Frontend-Mentor-Projects
	url = https://github.com/JuanTwoFour/QR-Code
[submodule "Blog-preview-card"]
	path = Blog-preview-card
	url = https://github.com/JuanTwoFour/Blog-preview-card
[submodule "social-links"]
	path = social-links
	url = https://github.com/JuanTwoFour/social-links
[submodule "Recipe-Page"]
	path = Recipe-Page
	url = https://github.com/JuanTwoFour/Recipe-Page
[submodule "Product-Preview-Card"]
	path = Product-Preview-Card
	url = https://github.com/JuanTwoFour/Product-Preview-Card
